@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", Arial;
  /* color:  */
}

@theme{
  --color-beige: oklch(75.241% 0.09675 79.993);
  --color-beige-hover: oklch(84.038% 0.08416 76.862);
  --color-dark-green: oklch(33.087% 0.04069 121.913);
  --color-light-green: oklch(65.1% 0.13832 126.25);
  
}
